<button class="call" onclick="call();">
  Call
</button>
<button class="hangup" onclick="hangup();">
  Hangup
</button>

<input type="text" id="number" name="number" value= "5555555555"/>

<div id="log">Loading pigeons...</div>
