<button class="small-6 large-centered columns" id="call">
  Call <%= target_name %>
</button>
<button class="small-6 large-centered columns" id="hangup">
  Hangup
</button>
<a href ="#" id="phone-instead" onClick="return false">Want to call with your phone instead?</a>
<input type="text" name="phone_number" id="phone-field" placeholder="3105551305" autofocus/> 
<div id="log">Loading call...</div>
