<h2>Thank you for calling,</h2>
<h4>but this campaigns still needs you.</h4> 
<div id="fb-share-text">Please share this page on Facebook to spread the word.</div>
<a href= "#" id="fb-share">
  <img src="/assets/facebook_share_button.png" />
</a>