<div class="campaign-form-page row">
  <p id="notice"><%= notice %></p>
  <h2><%= @campaign.target_name %>: <%= @campaign.action %></h2>
  <div class="small-7 large-centered columns">
    <%= render 'form' %>
  </div>
</div>