<div class="row">
  <p id="homepage-plea">We need you to call</p>
</div>
<div class="row">
  <ul class="large-block-grid-3 index-grid">
    <% @campaigns.each do |campaign| %>
      <%= render :partial => 'campaign', :locals => { :campaign => campaign } %>
    <% end %>
  </ul>
</div>

