// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Homepage
#homepage-plea {
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  color: #2ba6cb;
}

div.sort-options{
  margin-bottom: 1em;
  text-align: right;
}

.large-block-grid-3 {

  div.campaign-tile-container {
    padding: 10px;
    min-height: 329px;
    padding-top: 10px;
    border: solid white 1px;
    background-color: #ffffff;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2);
    img {
      width: 100%;
    }
    .title{
      font-weight: bold;
    }
    a {
      color:#3a3831;
    }
  }
}

//Campaign show page
.campaign-show-page {
  img {
    width: 100%;
    margin-bottom: 1em;
  } 
  h2 {
    margin-top: -12px;
  }
  .description{
    line-height: 1.5em;
    margin-top: 1em;
  }
  .call{
    display: block;
  } 
  .hangup{
    display: none;
  }
  #log{
    text-align: center;
  }
}

//Campaign new and edit pages
.campaign-form-page {
  h2 {
    text-align: center;
  }
  input.submit{
    display: block;
    margin: 0 auto 0 auto;
  }
  .parsley-success{
    background-color: #c9efb8;
    border-color: #336b1b;
  }
  .parsley-error{
    background-color: #fcbaba;
    border-color: #9e5555;
  }
  .parsley-error-list li{
    list-style-type: none;
    font-size: 12px;
    color: red;
    margin-top: -10px;
  }
  div#char-container, div#characters-left, div.action-label label{
    display: inline-block;
  }
  div#char-container{
    float: right;
    color: grey;
  }

}



