// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: rgb(247,247,247); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(247,247,247,1) 17%, rgba(237,226,215,1) 60%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,rgba(247,247,247,1)), color-stop(60%,rgba(237,226,215,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(247,247,247,1) 17%,rgba(237,226,215,1) 60%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(247,247,247,1) 17%,rgba(237,226,215,1) 60%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(247,247,247,1) 17%,rgba(237,226,215,1) 60%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(247,247,247,1) 17%,rgba(237,226,215,1) 60%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ede2d7',GradientType=0 ); /* IE6-9 */
}

//Navigation bar

nav.top-bar{
  -webkit-box-shadow: 0 3px 10px #3c3c40;
  -moz-box-shadow: 0 3px 10px #3c3c40;
  box-shadow: 0 3px 10px #3c3c40;
  a.button{
    color: #fff;
  }
}

.dropdown{
  border: solid 1px #ccc;
  background-color: whitesmoke;
  border-top: none;
}

.title-area span{
  color: #de5605;
}



//for sticky footer
#content {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 30px; /* .push must be the same height as .footer */
  background: whitesmoke;
}

.push{
  border-top: solid 1px #ccc;
}

footer {
  background: whitesmoke;
  font-size: .9em;
  color: #3f3f3f;
}

// Sign-in and sign-up modals


div#sign-in-modal, div#sign-up-modal{

  h2, img, h4, input.button{
    text-align: center;
    display: block;
    margin: 0 auto 20px auto;
  }
  .remember-me{
    label {
      display:inline-block;
    }
    input[type=checkbox] {
      width:20px; 
      height:20px;
    }
  }
}

//My Campaign page
.my-campaigns-page{
  min-height: 500px;
  .no-campaigns-text{
    text-align: center;
  }
}

.white-background{
  background: #f7f7f7;
}

div.campaign-window{
  margin-bottom: 2em;
  .title h4, .title a{
    display: inline;
  }

  .title a{
    margin-left: 1em;
  }
 
  img, .campaign-facts {
    margin-top: 1em;
  }
  h5 {
    text-align: center;
  }
  .call-chart {
    height: 200px;
  }
  .call-recording{
    margin-bottom: 10px;
  }
  a.sm2_button {
    position:relative;
    display:inline-block; /* If you worry about old browser bugs, Firefox 2 might not like this and may need -moz-inline-box instead. :D */
    width:18px;
    height:18px;
    text-indent:-9999px; /* don't show link text */
    overflow:hidden; /* don't draw inner link text */
    vertical-align:middle;
    /* and, a bit of round-ness for the cool browsers. */
    border-radius:6px;
    margin-top:-1px; /* vertical align tweak */
    /* safari 3.1+ fun (/W3 working draft extension, TBD.) */
    -webkit-transition-property: hover;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out 0s; /* firefox 4 (couldn't sort out -moz-transform vs. MozTransform, so, "all" for now) */
    -o-transition-property: background-color; /* opera 10.5 */
    -o-transition-duration: 0.15s;
    /* weird IE 6/7 display fixes, and/or I'm doing it wrong */
    *text-indent:0px;
    *line-height:99em;
    *vertical-align: top;
  }

  a.sm2_button:focus {
    outline:none; /* maybe evil, but don't show the slight border outline on focus. */
  }

  a.sm2_button,
  a.sm2_button.sm2_paused:hover {
    background-color:#3399cc;
    background-image:url(/assets/play_9x12.png);
    background-repeat:no-repeat;
    background-position:5px 50%;
  }

  a.sm2_button:hover,
  a.sm2_button.sm2_playing,
  a.sm2_button.sm2_playing:hover {
    background-color:#cc3333;
  }

  a.sm2_button.sm2_playing,
  a.sm2_button.sm2_playing:hover {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
  }

  a.sm2_button.sm2_paused,
  a.sm2_button.sm2_paused:hover {
    background-color:#666;
  }
}


