// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#sign-in-modal, div#sign-up-modal{

  h2, img, h4, input.button{
    text-align: center;
    display: block;
    margin: 0 auto 20px auto;
  }
  .remember-me{
    label {
      display:inline-block;
    }
    input[type=checkbox] {
      width:20px; 
      height:20px;
    }
  }

}