<div class="push"></div>
<footer>
  <div class="row">
    <div class="large-6 columns">
      <p>Activate</p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><%= link_to "Home", campaigns_path %></a></li>
      </ul>
    </div>
  </div>
</footer>
