<div class="push"></div>
<footer>
  <div class="row">
    <div class="large-6 columns">
      <p>Activate</p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li><%= link_to "Create a Campaign", new_campaign_path %></li>
        <li><%= link_to "Browse", campaigns_path %></a></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      </ul>
    </div>
  </div>
</footer>
